/template/docs/specs/backend/*
!/template/docs/specs/backend/.gitkeep

/template/docs/specs/cross-service/*
!/template/docs/specs/cross-service/.gitkeep

/template/docs/specs/frontend/*
!/template/docs/specs/frontend/.gitkeep